.field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: fit-content;
}
